<section id="preview">
  <h1>{% assign text = site.data.strings.preview %}{% include locale.html %}</h1>
  <div class="jumbotron">
    <div class="board-preview board-futaba">
      <form id="delform">
        <span class="filesize">File: <a href="#">1496693784142.jpg</a> -(<em>76837 B, 499x497</em>)</span> <span class="thumbnailmsg">Thumbnail displayed, click image for full size.</span>
        <br>
        <a href="#"><img src="./img/op-thumb.png" width="200" height="199" class="thumb"></a>
        <a name="123456"></a>
        <label>
          <input type="checkbox" name="delete" value="123456"> <span class="filetitle"></span> <span class="postername">anonymous</span> 17/06/05(Mon)23:16</label> <span class="reflink"> <a href="#">No.123456</a>  </span>&nbsp; [<a href="#">Reply</a>]
        <blockquote>
          <p>Текст ОП-поста</p>
        </blockquote> <span class="omittedposts"> 7 posts and 2 images omitted. Click Reply to view.  </span>
        <table>
          <tbody>
            <tr>
              <td class="doubledash">&gt;&gt;</td>
              <td class="reply" id="reply140658">
                <a name="123456"></a>
                <label>
                  <input type="checkbox" name="delete" value="123456"> <span class="replytitle"></span> <span class="commentpostername">anonymous</span> 17/06/06(Tue)19:07</label> <span class="reflink"> <a href="#">No.123456</a>  </span>&nbsp;
                <blockquote>
                  <p><a href="#">&gt;&gt;123456</a>
                    <br>Текст ответа.</p>
                </blockquote>
              </td>
            </tr>
          </tbody>
        </table>
        <br clear="left">
        <hr>
      </form>
    </div>
  </div>
</section>