<section id="preview">
  <h1>{% assign text = site.data.strings.preview %}{% include locale.html %}</h1>
  <div class="jumbotron">
    <div class="board-preview board-futaba">
      <form id="delform">
        {% for boardpage in page.board.pages %}
          {% for thread in boardpage.threads %}
            <span class="filesize">File: <a href="#">{{ thread.image.filename }}</a> -(<em>{{ thread.image.size }}</em>)</span> <span class="thumbnailmsg">Thumbnail displayed, click image for full size.</span>
            <br>
            <a href="#"><img src="{{ thread.image.src | prepend: site.baseurl }}" width="200" height="200" class="thumb"></a>
            <a name="{{ thread.id }}"></a>
            <label>
              <input type="checkbox" name="delete" value="{{ thread.id }}">
              <span class="filetitle"></span>
              <span class="postername">{{ thread.postername }}</span> {{ thread.date }}
            </label>
            <span class="reflink"> <a href="#">No.{{ thread.id }}</a>  </span>&nbsp; [<a href="#">Reply</a>]
            <blockquote>
              <p>{{ thread.message }}</p>
            </blockquote>
            <span class="omittedposts">{{ thread.omittedPosts }} posts and {{ thread.omittedImages }} images omitted. Click Reply to view.</span>
            {% for reply in thread.replies %}
              <table>
                <tbody>
                  <tr>
                    <td class="doubledash">&gt;&gt;</td>
                    <td class="reply" id="reply{{ reply.id }}">
                      <a name="{{ reply.id }}"></a>
                      <label>
                        <input type="checkbox" name="delete" value="{{ reply.id }}"> <span class="replytitle"></span> <span class="commentpostername">{{ reply.postername }}</span> {{ reply.date }}</label> <span class="reflink"> <a href="#">No.{{ reply.id }}</a>  </span>&nbsp;
                      <blockquote>
                        <p><a href="#">&gt;&gt;{{ reply.to }}</a>
                          <br>{{ reply.message | newline_to_br }}</p>
                      </blockquote>
                    </td>
                  </tr>
                </tbody>
              </table>
            {% endfor %}
            <br clear="left">
            <hr>
          {% endfor %}
          {% unless forloop.last == true %}
            <div class="de-page-num">
              <center style="font-size: 2em">{{ page.board.pagePrefix}} {{ forloop.index }}</center>
              <hr>
            </div>
          {% endunless %}
        {% endfor %}
      </form>
    </div>
  </div>
</section>