{% for feature in site.data.features %}
  {% if feature.section %}
  <section id="{{ feature.section }}">
    <h1>{{ feature.ru }}</h1>
    {% for feature in feature.children %}
    {% if feature.section %}
    <section id="{{ feature.section }}">
      <h2>{{ feature.ru }}</h2>
      {% for feature in feature.children %}
      {% if feature.section %}
      <section id="{{ feature.section }}">
        <h3>{{ feature.ru }}</h3>
        {% for feature in feature.children %}
        {% include feature-checkbox.html %}
        {% endfor %}
      </section>
      {% else %}
      {% include feature-checkbox.html %}
      {% endif %}
      {% endfor %}
    </section>
    {% else %}
    {% include feature-checkbox.html %}
    {% endif %}
    {% endfor %}
  </section>
  {% else %}
  {% include feature-checkbox.html %}
  {% endif %}
{% endfor %}