<div class="form-check container" id="{{ feature.id }}" data-feature="{{ feature.id }}" data-type="{{ feature.type }}" data-style="{{ feature.style }}" data-default="{{ feature.default | default: '#ffffff' }}">
  <div class="form-group row">
    {% if feature.icon %}
    <svg class="de-panel-svg">
      <use xlink:href="{{ feature.icon }}"></use>
    </svg>
    {% endif %}
    <label class="col-form-label col-sm-4 form-check-label">
      <input type="checkbox" class="form-check-input" value="">
      <span>{% assign text = feature %}{% include locale.html %}</span>
    </label>
    <div class="input-group colorpicker-component col-md-4 col-sm-8">
      <input type="text" class="form-control"/>
      <span class="input-group-addon"><i></i></span>
    </div>
    {% if feature.hint %}
    <br>
    <small class="text-muted">{% assign text = feature.hint %}{% include locale.html %}</small>
    {% endif %}
    {% if feature.alert %}
    <br>
    <small class="text-danger">{% assign text = feature.alert %}{% include locale.html %}</small>
    {% endif %}
  </div>
</div>
