{% for feature in site.data.features %}
  {% if feature.type == "section" %}
  <section id="{{ feature.id }}">
    <h1>{{ feature.ru }}</h1>
    {% for feature in feature.children %}
    {% if feature.type == "section" %}
    <section id="{{ feature.id }}">
      <h2>{{ feature.ru }}</h2>
      {% for feature in feature.children %}
      {% if feature.type == "section" %}
      <section id="{{ feature.id }}">
        <h3>{{ feature.ru }}</h3>
        {% for feature in feature.children %}
        {% include feature.html %}
        {% endfor %}
      </section>
      {% else %}
      {% include feature.html %}
      {% endif %}
      {% endfor %}
    </section>
    {% else %}
    {% include feature.html %}
    {% endif %}
    {% endfor %}
  </section>
  {% else %}
  {% include feature.html %}
  {% endif %}
{% endfor %}