<div class="form-check" id="{{ feature.id }}" data-feature="{{ feature.id }}" data-style="{{ feature.style }}" data-enable="{{ feature.enable }}" data-disable="{{ feature.disable }}">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" value="">
    {% if feature.icon %}
    <svg class="de-panel-svg">
      <use xlink:href="{{ feature.icon }}"></use>
    </svg>
    {% endif %}
    <span>{{ feature.ru }}</span>
  </label>
  {% if feature.hint %}
  <small class="text-muted">{{ feature.hint.ru }}</small>
  {% endif %}
  {% if feature.alert %}
  <small class="text-danger">{{ feature.alert.ru }}</small>
  {% endif %}
</div>
