<footer class="text-muted">
  <div class="container">
    <ul>
      <li>
        {% include icon-github.html content="Fork me on GitHub" url="WagonOfDoubt/Dollchan-Tweaks" %}
      </li>
      <li>
        {% include icon-github.html content="Dollchan Extension Tools" url="SthephanShinkufag/Dollchan-Extension-Tools" %}
      </li>
      <li>
        <a href="http://www.freedollchan.org/scripts/">Freedollchan</a>
      </li>
      <li>
        <a href="https://github.com/SthephanShinkufag/Dollchan-Extension-Tools/wiki/">Wiki</a>
      </li>
    </ul>
  </div>
</footer>
