<header class="site-header" role="banner">
  <nav class="nav fixed-top de-win-head" id="topnav">
    <span class="navbar-brand">
      <svg class="de-panel-logo-svg" style="vertical-align: text-top;">
        <use xlink:href="#de-symbol-panel-logo"></use>
      </svg>
      <span class="de-win-title">{{ site.title }}</span>
    </span>
    <div class="mr-auto"></div>
    <div class="btn-group">
      <a href="./en" class="btn btn-secondary{% if page.language == 'en' %} active{% endif %}">En</a>
      <a href="./ru" class="btn btn-secondary{% if page.language == 'ru' %} active{% endif %}">Ru</a>
    </div>
    <div class="mr-5"></div>
    <div class="btn-group">
      <button type="button" class="btn btn-secondary" disabled>{% assign text = site.data.strings.load %}{% include locale.html %}</button>
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#saveModal">{% assign text = site.data.strings.save %}{% include locale.html %}</button>
    </div>
  </nav>
</header>
