<header class="site-header" role="banner">
  <nav class="nav fixed-top de-win-head" id="topnav">
    <span class="navbar-brand">
      <svg class="de-panel-logo-svg" style="vertical-align: text-top;">
        <use xlink:href="#de-symbol-panel-logo"></use>
      </svg>
      {{ site.title }}
    </span>
    <div class="mr-auto"></div>
    <div class="btn-group">
      <button type="button" class="btn btn-secondary" disabled>Загрузить</button>
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#saveModal">Сохранить</button>
    </div>
  </nav>
</header>
