$nav-pills-border-radius: 0;
$form-check-input-margin-y: .5rem;

.form-check-label * {
  vertical-align: middle;
}

#sidebar {
  position: fixed;
  top: 41px;
  right: 0;
  margin: 0;
  bottom: 0;
  padding: 0;
}

#topnav {
  position: fixed;
  border-radius: 0;
  padding: 2px;
  color: #F5F5F5;
  font: bold 14px/16px arial;
  text-align: center;
  cursor: default;
  background-color: #777;

  svg {
    width: 25px;
    height: 25px;
  }
}

main {
  margin-top: 38px;
}

.nav.flex-column ul {
  font-size: 0.8rem;
  margin-left: 1rem;
}
