$nav-pills-border-radius: 0;
$form-check-input-margin-y: .5rem;
$navbar-padding-y: 2px;
$navbar-padding-x: 4px;

.form-check-label * {
  vertical-align: middle;
}

#sidebar {
  position: sticky;
  top: 44px;
  margin: 0;
  padding: 0;

  .nav-link:not(.active) + ul {
      max-height: 0;
  }

  ul {
      max-height: 1000px;
      transition: max-height ease-in .25s;
      overflow: hidden;
  }

  .nav.flex-column ul {
    font-size: 0.8rem;
    margin-left: 1rem;
  }
}

header .navbar {
  flex-direction: row;
  background: linear-gradient(to bottom, #7b849b, #616b86 8%, #3a414f 52%, rgba(0,0,0,0) 52%), linear-gradient(to bottom, rgba(0,0,0,0) 48%, #121212 52%, #1f2740 100%);

  .navbar-brand img {
    width: 25px;
    height: 25px;
    vertical-align: sub;
  }

  @media (min-width: 768px) {
    .navbar-brand {
      margin-left: 130px;
    }
  }
}

#navbarNav {
  top: 44px;
}

#toggler {
  display: block;
}

main {
  margin-top: 50px;
}

