$nav-pills-border-radius: 0;
$form-check-input-margin-y: .5rem;

.form-check-label * {
  vertical-align: middle;
}

#sidebar {
  position: sticky;
  top: 41px;
  margin: 0;
  padding: 0;

  .nav-link:not(.active) + ul {
      max-height: 0;
  }

  ul {
      max-height: 1000px;
      transition: max-height ease-in .25s;
      overflow: hidden;
  }

  .nav.flex-column ul {
    font-size: 0.8rem;
    margin-left: 1rem;
  }
}

#topnav {
  position: fixed;
  border-radius: 0;
  padding: 2px;
  color: #F5F5F5;
  font: bold 14px/16px arial;
  text-align: center;
  cursor: default;
  background-color: #777;

  svg {
    width: 25px;
    height: 25px;
  }
}

main {
  margin-top: 38px;
}

