.de-win-fixed {
  z-index: 9999;
}

.de-link-ref {
  text-decoration: none !important;
}

#hide-panel-goback svg.de-panel-svg {
  transform: rotate(-180deg);
}

#hide-panel-gonext svg.de-panel-svg {
  transform: rotate(0deg);
}

#hide-panel-goup svg.de-panel-svg {
  transform: rotate(-90deg);
}

#hide-panel-godown svg.de-panel-svg {
  transform: rotate(90deg);
}

.old-panel-expimg {
  background-image: url(data:image/gif;base64,R0lGODlhGQAZAIAAAPDw8P///yH5BAEAAAEALAAAAAAZABkAQAI9jI+pGwDn4GPL2Wep3rxXFEFel42mBE6kcYXqFqYnVc72jTPtS/KNr5OJOJMdq4diAXWvS065NNVwseehAAA7);
  background-repeat: no-repeat;
  background-position: center;
  background-color: gray;
  border-radius: 5px;
  display: inline-block;
  margin-right: 3px;
}
