.board-futaba {
  $background-color: #ffffee;
  $text-color: #800000;
  $highlight-background-color: #e04000;
  $highlight-text-color: #ffffee;
  $title-text-color: #cc1105;
  $block-background-color: #eeaa88;
  $link-color: #0000ee;
  $link-hover-color: #dd0000;
  $muted-text-color: #707070;
  $name-text-color: #117743;
  $tripcode-text-color: #228854;
  $table-row1-background-color: #eeeecc;
  $table-row2-background-color: #ddddaa;
  $post-background-color: #f0e0d6;

  /* I dunno what is this */
  $unkfunc-text-color: #789922;
  $postlists-background-color: #ffffff;
  $passvalid-text-color: #ffffff;
  $managehead-background-color: #aaaa66;
  $managehead-text-color: #400000;

  $font-size-small: 0.7em;
  $font-size-medium: 1.2em;
  $font-size-big: 1.7em;
  $font-size-huge: 2em;

  $font-weight-bold: 800;

  background: $background-color;
  color: $text-color;
  font-family: initial !important;

  a {
    text-decoration: underline;

    color: $link-color;
    :hover {
      color: $link-hover-color;
    }
  }

  .adminbar {
    text-align: right;
    clear: both;
    float: right;
  }

  .logo {
    clear: both;
    text-align: center;
    font-size: $font-size-huge;
    color: $text-color;
    width: 100%;
  }

  .theader {
    background: $highlight-background-color;
    text-align: center;
    padding: 2px;
    color: $highlight-text-color;
    width: 100%;
  }

  .rules {
    font-size: $font-size-small;
  }

  .postblock {
    background: $block-background-color;
    color: $text-color;
    font-weight: $font-weight-bold;
  }

  .footer {
    text-align: center;
    font-size: $font-size-small;
    font-family: serif;
  }

  .passvalid {
    background: $block-background-color;
    text-align: center;
    width: 100%;
    color: $passvalid-text-color;
  }

  .dellist {
    font-weight: $font-weight-bold;
    text-align: center;
  }

  .delbuttons {
    padding-bottom: 4px;
    text-align: center;
  }

  .managehead {
    background: $managehead-background-color;
    color: $managehead-text-color;
    padding: 0px;
  }

  .postlists {
    background: $postlists-background-color;
    width: 100%;
    padding: 0px;
    color: $text-color;
  }

  .row1 {
    background: $table-row1-background-color;
    color: $text-color;
  }

  .row2 {
    background: $table-row2-background-color;
    color: $text-color;
  }

  .unkfunc {
    background: inert;
    color: $unkfunc-text-color;
  }

  .filesize {
    text-decoration: none;
  }

  .postername, .commentpostername {
    color: $name-text-color;
    font-weight: $font-weight-bold;
  }

  .postertrip {
    color: $tripcode-text-color;
  }

  .omittedposts, .abbrev {
    color: $muted-text-color;
  }

  .doubledash {
    vertical-align: top;
    clear: both;
    float: left;
  }

  .filetitle {
    background: inherit;
  }

  .replytitle, .filetitle {
    font-size:  $font-size-medium;
  }

  .filetitle, .replytitle, .oldpost {
    color: $title-text-color;
    font-weight: $font-weight-bold;
  }

  .thumbnailmsg {
    font-size: $font-size-small;
    color: $text-color;
  }

  .reply, .highlight {
    background: $post-background-color;
    color: $text-color;
  }

  .highlight {
    border: 2px dashed $block-background-color;
  }
}
