<!DOCTYPE html>
<html>

  {% include head.html %}

  <body data-spy="scroll" data-target="#sidebar" data-offset="44">

    {% include header.html %}

    <div class="container">
      <div class="row">
        <main class="page-content col-md-9">
          {% include save-modal.html %}

          {% include error-modal.html %}
  
          {{ content }}

          {% include feature-list.html %}

          {% include board-preview.html %}
        </main>
        <aside class="col-md-3 hidden-sm-down">
          {% include sidebar.html %}
        </aside>
      </div>
    </div>

    {% include de-svg-icons.html %}

    {% include footer.html %}

    <script src="{{ site.baseurl }}/js/tricks.js"></script>
  </body>

</html>
